.Top-Tabs .Button {
  margin-right: 7px;
}

.Top-Place {
  display: table-cell;

  width: 25px;
  height: 25px;
  border-radius: var(--border-radius_level_1);
  background-color: #f5f7f9;

  font-size: 12px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}

.Top-Balance {
  display: flex;
  align-items: center;

  background: #f5f7f9;
  border-radius: 9px;
  padding: 9px 11px;

  color: #97a7b7;
  font-weight: 500;
  font-size: 13px;

  img {
    height: 14px;
    margin-left: 4px;
  }
}
