@import "@vkontakte/vkui/dist/vkui.css", "variables.scss";

:root {
  --border-radius_level_1: 6px;
  --border-radius_level_2: 8px;
  --border-radius_level_3: 10px;

  --color_white: #fff;
  --color_green: linear-gradient(180deg, #9ddc4d 0%, #409717 100%);
  --color_blue: radial-gradient(
    75% 75% at 50% 15.91%,
    #4dd0fb 0%,
    #1579e3 100%
  );
  --color_orange: linear-gradient(180deg, #fdd43e 0%, #e98a1a 100%);

  --box-shadow: 0 4px 25px 0 rgba(190, 202, 214, 0.35);

  --transition: all 0.3s ease;
}

.vkuibright_light {
  --placeholder_icon_foreground_primary: #818c99;
}

.vkui__portal-root,
.vkui__root {
  --font-common: "Euclid Circular A", sans-serif;
}

html,
body {
  font-family: "Euclid Circular A", sans-serif;
}

.vkuiPanel .vkuiPanel__in,
.vkuiPanel:after {
  background-color: #f6f7f9;
}

.Panel::after {
  position: fixed;
}

.vkuiEpic .vkuiPanel__in {
  --tabbar_height: 74px;

  padding-bottom: calc(
    var(--safe-area-inset-bottom) + var(--tabbar_height) + 20px
  );
}

body,
.Header {
  user-select: none;
}

body[scheme="bright_dark"],
[scheme="bright_dark"],
.vkuibright_dark,
body[scheme="vkcom_dark"],
[scheme="vkcom_dark"],
.vkuivkcom_dark,
.dark {
  .toast {
    background: #232324;
    color: #fff;
  }
}

.vkuiTabbarItem {
  .vkuiTappable {
    display: none;
  }
}

symbol[id="check_circle_filled_blue_24"] {
  path {
    fill: #a5ca56;
  }
}

symbol[id="error_circle_fill_red_24"] {
  circle {
    fill: #fd5e5e;
  }
}

.vkuiSnackbar_padding {
  bottom: calc(82px + 20px); // height tabbar + margin
  transition: bottom 0.3s ease;
}
