.Group {
  position: relative;

  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 14px;

  margin: calc(15px + var(--safe-area-inset-top)) 15px 15px;
}

// padding level
.Group_padding-level_1 {
  padding: 10px;
}

.Group_padding-level_2 {
  padding: 20px;
}

.Group__content_padding-top_1 {
  padding-top: calc(11px * 2 + 12px);
}

.Group__content_padding-top_2 {
  padding-top: calc(7px * 2 + 12px);
}

// header
.Group__header {
  position: absolute;

  font-size: 12px;
  font-weight: 600;

  padding: 11px 14px;
}

// mode
.Group__header_mode_left {
  top: 0;
  left: 0;

  border-radius: 14px 0;
}

.Group__header_mode_center {
  display: table;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  border-radius: 0 0 14px 14px;
}

// background
.Group__header_background_blue {
  color: white;
  background: var(--color_blue);
}

.Group__header_background_orange {
  color: black;
  background: var(--color_orange);
}
