.vkuiModalCard[id="userProfile"] {
  .vkuiAvatar,
  .vkuiModalCardBase__header {
    cursor: pointer;
  }

  .Button {
    width: 50%;
    color: white;

    img {
      height: 21px;
    }
  }

  .Button_background_orange {
    margin-left: 12px;
  }
}

.UserProfile-Balance {
  min-width: 146px;
  margin: 10px auto 0;
}
