.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 10px 0;

  color: #222e39;
  font-weight: 600;
}

.Header_size_small {
  font-size: 12px;
}

.Header_size_medium {
  font-size: 14px;
}
